#ourCompanyButtonNoBioContainer {    
    display: flex;
    justify-content: center;
    align-items: center;
}

#ourCompanyContainer {
    display: grid;
    grid-template-columns: 5vw 10vw 20vw 50vw 5vw;
    justify-items: center;
    align-items: center;
    color: var(--text-color-primary);
}

#ourCompanyArrowContainer {
    font-size: 5rem;
}
#ourCompanyBioContainer {
    justify-self: start;
    font-size: small;
}