.ourCompanyButton {
	white-space: nowrap;
	color: var(--text-color-primary);
	background-color: var(--primary-color-dark);
	box-shadow: -2px 2px 5px -1px var(--secondary-color-light);	
	border-bottom: 1px solid var(--secondary-color);
	border-right: 1px solid var(--secondary-color);
	border-left: 1.5px solid var(--primary-color-light);
	border-top: 1.5px solid var(--primary-color-light);	
}

.ourCompanyButton:hover {
	background-color: var(--secondary-color-dark);	
	box-shadow: none;
}

.ourCompanyAnimation0 {
	animation: fadeIn ease .5s;
	-webkit-animation: fadeIn ease .5s;
	-moz-animation: fadeIn ease .5s;
	-o-animation: fadeIn ease .5s;
	-ms-animation: fadeIn ease .5s;
}

.ourCompanyAnimation1 {
	animation: fadeIn ease 1.5s;
	-webkit-animation: fadeIn ease 1.5s;
	-moz-animation: fadeIn ease 1.5s;
	-o-animation: fadeIn ease 1.5s;
	-ms-animation: fadeIn ease 1.5s;
}

.ourCompanyButtonAnimmation {
	animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
	0% { -webkit-transform: translateX(300%); }
	100% { -webkit-transform: translateX(0%); }
 }

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#ourCompanyViewContainer {	
	display: grid;
	grid-template-columns: auto 10% 10% 70% auto;
}

.ourCompanyViewColumnContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

#ourCompanyContentContainer {
	padding: 1%;
	border: 1px solid var(--secondary-color-light);
	border-radius: 5%;
	box-shadow: -5px 5px 5px var(--primary-color-light);
	background-color: var(--primary-color-dark);
}



