.teamMemberCardContainer {
	display: flex;
	align-items: center;	
	flex-direction: column;    
	background-color: var(--secondary-color-dark);
	width: 25vw;
    height: 180px; 
	margin-right: 1px;
}

.teamMemberNameTitleContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: absolute;    
}

.teamMemberCardImageContainer {
	position: relative;
    display: flex;
    justify-content: center;
    border: 1px solid var(--secondary-color-light);
    border-radius: 5%;
    margin: 1%;
}

.teamCardBioContainer {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
}

.teamMemberCardBioContainer {
	position: relative;
	max-width: 100%;	
	font-size: 50%;
	background-color: var(--primary-color-light);
	opacity: 0.9;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: var(--text-color-primary);
    border: 3px solid var(--primary-color-dark);
    margin: 1%; 
    border-radius: 2%;
    box-shadow: 0 5px 5px var(--primary-color);
}

.teamMemberCardBioExit {
	display: flex;
	justify-content: flex-end; 
	width: 100%;
	margin-right: 3%;
}

.teamMemberCardBio {
	padding: 2%; 
}
