html {
  --primary-color: #111111;
  --primary-color-lighter: #161616;
  --primary-color-lightest: #1C1C1C;
  --secondary-color: #BB000E;
  --secondary-color-lighter: #E31C25;    
  background-color: var(--primary-color);
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--secondary-color-lighter);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
